<header class="col-12 other-page" id="inicio">
    <div class="container menu-top">
        <div class="icon-menu md-show menu-btn" title="Abrir Menu">
            <img src="{{ site.baseurl }}/assets/icon/menu.svg">
        </div>
        <div class="logo-menu col-md-5 no-padding">
            <a href="{{ site.baseurl }}/#inicio" title="Ir a página inicial">
                <img src="{{ site.baseurl }}/assets/image/logo/logo_home.png">
            </a>
        </div>
        <div class="menu-bar close-menu col-md-7 no-padding">
            <table>
                <tbody>
                <tr>
                    <td class="md-show menu-btn" title="Fechar menu">
                        <a href="#">
                            <img src="{{ site.baseurl }}/assets/icon/menu.svg" width="15"
                                 style="margin: 0 auto; display: block">
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#inicio" title="Ir a página inicial" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/home.svg">
                            Início
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/casas/" title="Conhecer as casas" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/houses.svg">
                            Casas
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#localizacao" title="Ver localização" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/location.svg">
                            Localização
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#contato" title="Informações de contato" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/phone.svg">
                            Contato
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</header>
<article class="container" style="margin-top: 50px">

    <h3 style="text-align: center; font-weight: bold; text-transform: uppercase; margin-bottom: 50px">Selecione uma
        categoria
        para ver mais </h3>

    <div class="col-sm-4 box box-selected-photo {{ page.casa1 }}">
        <a href="{{ site.baseurl }}/casas/1" class="photo">
            <div>
                <h4>Casa 1</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-4 box box-selected-photo  {{ page.casa2 }}">
        <a href="{{ site.baseurl }}/casas/2" class="photo">
            <div>
                <h4>Casa 2</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-4 box box-selected-photo  {{ page.casa3 }}">
        <a href="{{ site.baseurl }}/casas/3" class="photo">
            <div>
                <h4>Localização</h4>
            </div>
        </a>
    </div>
    <div class="clearfix" style="margin-bottom: 50px"></div>

    <p class="desc-casa">{{ page.desc_casa }}</p>
    <div class="clearfix" style="margin-bottom: 20px"></div>
    <div id="w0" class="carousel">
        <ol class="carousel-indicators">
            <li class="" data-target="#w0" data-slide-to="0"></li>
            <li data-target="#w0" data-slide-to="1" class="active"></li>
            <li data-target="#w0" data-slide-to="2" class=""></li>
            <li data-target="#w0" data-slide-to="3" class=""></li>
            <li data-target="#w0" data-slide-to="4" class=""></li>
            <li data-target="#w0" data-slide-to="5" class=""></li>
            <li data-target="#w0" data-slide-to="6" class=""></li>
            <li data-target="#w0" data-slide-to="7" class=""></li>
            <li data-target="#w0" data-slide-to="8" class=""></li>
            <li data-target="#w0" data-slide-to="9" class=""></li>
            <li data-target="#w0" data-slide-to="10" class=""></li>
            <li data-target="#w0" data-slide-to="11" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div id="1.jpg" class="item active" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/1.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="16939300_1582711031743701_9185733667020281782_n.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/16939300_1582711031743701_9185733667020281782_n.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="16939450_1582710975077040_3623618524624477037_n.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/16939450_1582710975077040_3623618524624477037_n.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="16939486_1582711028410368_1790639524725291764_n.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/16939486_1582711028410368_1790639524725291764_n.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="17103539_1582712395076898_1425890643340347775_n.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/17103539_1582712395076898_1425890643340347775_n.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="17155221_1582712381743566_2510425869288178818_n.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/17155221_1582712381743566_2510425869288178818_n.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="17155731_1582711035077034_9050405143679194210_n.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/17155731_1582711035077034_9050405143679194210_n.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="17190964_1582711015077036_2789734058894726035_n.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/17190964_1582711015077036_2789734058894726035_n.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="2.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/2.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="20181221_152133.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/20181221_152133.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="3.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/3.jpg">
                <div class="carousel-caption"></div>
            </div>
            <div id="4.jpg" class="item" onclick=""><img
                    src="{{ site.baseurl }}/assets/image/casa-01/4.jpg">
                <div class="carousel-caption"></div>
            </div>
        </div>
        <a class="left carousel-control" href="#w0" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#w0" data-slide="next">›</a>
    </div>
</article>
<div style="width: 100%;height: 80px; background-color: #80be65; margin: 30px 0"></div>