<header class="col-12 other-page" id="inicio">
    <div class="container menu-top">
        <div class="icon-menu md-show menu-btn" title="Abrir Menu">
            <img src="{{ site.baseurl }}/assets/icon/menu.svg">
        </div>
        <div class="logo-menu col-md-5 no-padding">
            <a href="{{ site.baseurl }}/#inicio" title="Ir a página inicial">
                <img src="{{ site.baseurl }}/assets/image/logo/logo_home.png">
            </a>
        </div>
        <div class="menu-bar close-menu col-md-7 no-padding">
            <table>
                <tbody>
                <tr>
                    <td class="md-show menu-btn" title="Fechar menu">
                        <a href="#">
                            <img src="{{ site.baseurl }}/assets/icon/menu.svg" width="15"
                                 style="margin: 0 auto; display: block">
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#inicio" title="Ir a página inicial" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/home.svg">
                            Início
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/casas/1" title="Conhecer as casas" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/houses.svg">
                            Casas
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#localizacao" title="Ver localização" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/location.svg">
                            Localização
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#contato" title="Informações de contato" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/phone.svg">
                            Contato
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</header>
<article class="container" style="margin-top: 50px">

    <h3 style="text-align: center; font-weight: bold; text-transform: uppercase; margin-bottom: 50px">Selecione uma
        categoria
        para ver mais </h3>

    <div class="col-sm-4 box box-selected-photo {{ page.casa1 }}">
        <a href="{{ site.baseurl }}/casas/1" class="photo">
            <div>
                <h4>Casa 1</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-4 box box-selected-photo  {{ page.casa2 }}">
        <a href="{{ site.baseurl }}/casas/2" class="photo">
            <div>
                <h4>Casa 2</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-4 box box-selected-photo  {{ page.casa3 }}">
        <a href="{{ site.baseurl }}/casas/3" class="photo">
            <div>
                <h4>Localização</h4>
            </div>
        </a>
    </div>
    <div class="clearfix" style="margin-bottom: 50px"></div>

    <p class="desc-casa">{{ page.desc_casa }}</p>
    <div class="clearfix" style="margin-bottom: 20px"></div>
    <div id="w0" class="carousel">
        <ol class="carousel-indicators">
            <li class="" data-target="#w0" data-slide-to="0"></li>
            <li data-target="#w0" data-slide-to="1" class="active"></li>
            <li data-target="#w0" data-slide-to="2" class=""></li>
            <li data-target="#w0" data-slide-to="3" class=""></li>
            <li data-target="#w0" data-slide-to="4" class=""></li>
            <li data-target="#w0" data-slide-to="5" class=""></li>
            <li data-target="#w0" data-slide-to="6" class=""></li>
            <li data-target="#w0" data-slide-to="7" class=""></li>
            <li data-target="#w0" data-slide-to="8" class=""></li>
            <li data-target="#w0" data-slide-to="9" class=""></li>
            <li data-target="#w0" data-slide-to="10" class=""></li>
            <li data-target="#w0" data-slide-to="11" class=""></li>
        </ol>
        <div class="carousel-inner"><div id="1.jpg" class="item" onclick=""><img src="/assets/image/casa-02/1.jpg">
            <div class="carousel-caption"></div></div>
            <div id="16996356_1582709715077166_6560768302425131876_n.jpg" class="item" onclick=""><img src="/assets/image/casa-02/16996356_1582709715077166_6560768302425131876_n.jpg">
                <div class="carousel-caption"></div></div>
            <div id="17103541_1582709655077172_4641866767787730345_n.jpg" class="item" onclick=""><img src="/assets/image/casa-02/17103541_1582709655077172_4641866767787730345_n.jpg">
                <div class="carousel-caption"></div></div>
            <div id="2.jpg" class="item" onclick=""><img src="/assets/image/casa-02/2.jpg">
                <div class="carousel-caption"></div></div>
            <div id="21685983_1812051765476292_4092905622974222548_n.jpg" class="item" onclick=""><img src="/assets/image/casa-02/21685983_1812051765476292_4092905622974222548_n.jpg">
                <div class="carousel-caption"></div></div>
            <div id="25507812_1911465415534926_6590059557827712358_n.jpg" class="item" onclick=""><img src="/assets/image/casa-02/25507812_1911465415534926_6590059557827712358_n.jpg">
                <div class="carousel-caption"></div></div>
            <div id="25552163_1911465418868259_706354348078538725_n.jpg" class="item" onclick=""><img src="/assets/image/casa-02/25552163_1911465418868259_706354348078538725_n.jpg">
                <div class="carousel-caption"></div></div>
            <div id="3.jpg" class="item active" onclick=""><img src="/assets/image/casa-02/3.jpg">
                <div class="carousel-caption"></div></div>
            <div id="393652b6-fd85-4632-97bc-cd4d54211720.jpg" class="item" onclick=""><img src="/assets/image/casa-02/393652b6-fd85-4632-97bc-cd4d54211720.jpg">
                <div class="carousel-caption"></div></div>
            <div id="4.jpg" class="item" onclick=""><img src="/assets/image/casa-02/4.jpg">
                <div class="carousel-caption"></div></div>
            <div id="5.jpg" class="item" onclick=""><img src="/assets/image/casa-02/5.jpg">
                <div class="carousel-caption"></div></div>
            <div id="77a3db85-8505-47be-a953-d119bf0fd64c.jpg" class="item" onclick=""><img src="/assets/image/casa-02/77a3db85-8505-47be-a953-d119bf0fd64c.jpg">
                <div class="carousel-caption"></div></div></div>
        <a class="left carousel-control" href="#w0" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#w0" data-slide="next">›</a>
    </div>
</article>
<div style="width: 100%;height: 80px; background-color: #80be65; margin: 30px 0"></div>