<footer>
    <div class="container" id="localizacao">
        <h2 class="col-md-12 no-padding color-darkgreen" style="margin: 50px 0 20px 0">
            Como chegar
        </h2>
        <div class="clearfix"></div>
        <a class="map" style="background-image: url('{{ site.baseurl }}/assets/image/footer_map.jpg')"
           href="https://www.google.com/maps/place/Boca+do+Lagarto+-+Casas+de+Aluguel/@-28.1237682,-48.6589482,17z/data=!4m5!3m4!1s0x0:0xa8355ca1c989900b!8m2!3d-28.1227605!4d-48.6583474"
           title="Ver no mapa" target="_blank">
        </a>
        <div class="clearfix"></div>
        <div class="col-md-4 col-md-offset-1 contato-footer color-darkgreen">
            <h2>Contato</h2>
            <span>Estou aqui para esclarecer suas dúvidas.<br><a title="enviar email"
                                                                 href="mailto:contato@bocadolagarto.com.br">contato@bocadolagarto.com.br</a> | <a
                    title="Ligar?" href="tel:+5551994704486">Tel: (51) 99470-4486</a></span>
        </div>
        <div class="col-md-4 col-md-offset-2 contato-footer color-darkgreen" id="contato">
            <h2>Social</h2>
            <span class="icon-social">
                <a href="https://www.facebook.com/bocadolagarto/" title="Facebook" target="_blank">
                      <img class="info-img"
                           src="{{ site.baseurl }}/assets/icon/facebook_circle-512.png"/></a>
                </span>
            <span class="icon-social">
                 <a href="https://www.instagram.com/bocadolagarto/" title="Instagram" target="_blank">
                      <img class="info-img"
                           src="{{ site.baseurl }}/assets/icon/md_5a9797d18f418.png"/></a>
            </span>
        </div>
    </div>
</footer>