<header class="col-12" id="inicio"
        style="background-image: url('{{ site.baseurl }}/assets/image/home_background.jpg')">
    <div class="header-top-bar md-hide">
        <div class="container text-right">
        <span class="icon">
            <img src="{{ site.baseurl }}/assets/icon/phone-auricular-with-high-volume.svg" height="18px">
        </span>
            <a class="number" title="Ligar?" href="tel:+5551994704486">(51) 99470-4486</a>
        </div>
    </div>
    <div class="container menu-top">
        <div class="icon-menu md-show menu-btn" title="Abrir Menu">
            <img src="{{ site.baseurl }}/assets/icon/menu.svg">
        </div>
        <div class="logo-menu col-md-5 no-padding">
            <img src="{{ site.baseurl }}/assets/image/logo/logo_home.png">
        </div>
        <div class="menu-bar close-menu col-md-7 no-padding">
            <table>
                <tbody>
                <tr>
                    <td class="md-show menu-btn" title="Fechar menu">
                        <a href="#">
                            <img src="{{ site.baseurl }}/assets/icon/menu.svg" width="15"
                                 style="margin: 0 auto; display: block">
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#inicio" title="Ir a página inicial" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/home.svg"/>
                            Início
                        </a>

                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/casas/1" title="Conhecer as casas" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/houses.svg"/>
                            Casas
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#localizacao" title="Ver localização" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/location.svg"/>
                            Localização
                        </a>
                    </td>
                    <td>
                        <a href="{{ site.baseurl }}/#contato" title="Informações de contato" class="btn-menu">
                            <img class="menu-icon" src="{{ site.baseurl }}/assets/icon/phone.svg"/>
                            Contato
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container text-banner">
        <h2>
            Uma das baías mais<br>belas do brasil
        </h2>
        <h3>
            Casas com conforto e qualidade que você merece, <br>venha conhecer nossas habitações e surpreenda-se.
        </h3>
        <a class="btn btn-success" href="{{ site.baseurl }}/casas/1">Saiba mais</a>
    </div>
</header>
<article class="container review">
    <div class="col-md-6 review-text">Natureza e<br>Alto Astral</div>
    <div class="col-md-6 review-review">
        <table class="col-md-12 review-container">
            <tr>
                <td>
                    <img src="{{ site.baseurl }}/assets/image/avatar/15822696_10206201568836889_7217896976461707110_n.jpg">
                </td>
                <td>
                    Lugar muito tranquilo e aconchegante,casas com a simplicidade e conforto que o lugar pede,patio
                    com muito espaço para crianças e localização de fácil acesso as praias.Ótimo custo benefício,
                    excelente recepção pelo proprietário.Recomendo.<br>
                    <a href="https://www.facebook.com/pg/bocadolagarto/reviews/?ref=page_internal" target="_blank">
                        <small>
                            Recomendação via Facebook
                        </small>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ site.baseurl }}/assets/image/avatar/43880305_515954068870953_2438592167636107264_n.jpg">
                </td>
                <td>
                    Foi um achado...Lugar ótimo para curtir as férias em meio a natureza. Pátio todo cercado, amplo,
                    garagem, churrasqueira, casa arejada...Lugar especial...Recomendamos muito.<br>
                    <a href="https://www.facebook.com/pg/bocadolagarto/reviews/?ref=page_internal" target="_blank">
                        <small>Recomendação via Facebook</small>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ site.baseurl }}/assets/image/avatar/14370301_904009949733344_3195753819574622833_n.jpg">
                </td>
                <td>
                    Lugar sensacional para curtir a natureza, liberdade e surf de primeira!
                    <br>
                    <a href="https://www.facebook.com/pg/bocadolagarto/reviews/?ref=page_internal" target="_blank">
                        <small>Recomendação via Facebook</small>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</article>
<div class="infos">
    <article class="container">
        <div class="row">
            <div class="col-md-6 text">
                <h3 class="title">As casas</h3>
                Possuímos 2 casas completas, informações sobre a casa 1 e casa 2, clique abaixo em ver fotos e
                descrição.<br><br>
                <a class="btn btn-success new-btn" style="margin-bottom: 25px; font-size: 0.6em"
                   href="{{ site.baseurl }}/casas/1">Ver
                    fotos e descrição</a>
            </div>
            <div class="col-md-6"><img class="info-img" src="{{ site.baseurl }}/assets/image/home_info1.jpg"/></div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-md-6 text md-show">
                <h3 class="title no-margin" style=" margin-top: 35px;">Localização</h3>
                As casas estão localizadas a 2 km da Beira mar do Rosa, ficam próximas à comércios da região.<br><br>
            </div>
            <div class="col-md-6">
                <img class="info-img" src="{{ site.baseurl }}/assets/image/home_info2.jpg"/></div>
            <div class="col-md-6 text md-hide">
                <h3 class="title no-margin" style="margin-top: 10px;">Localização</h3>
                As casas estão localizadas a 2 km da Beira mar do Rosa, ficam próximas à comércios da região.<br><br>
            </div>
        </div>
    </article>
</div>