<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="robots" content="no-index, no-follow"/>
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <!--[if IE]>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico"><![endif]-->
    <meta http-equiv="refresh" content="1;url={{ page.redirect }}"/>
    <link rel="canonical" href="{{ page.redirect }}"/>
    <script type="text/javascript">
        window.location.href = "{{ page.redirect }}"
    </script>
    <title>Page Redirection</title>
</head>
<body>
If you are not redirected automatically, follow <a href='{{ page.redirect }}'>this link</a>.
</body>
</html>